{% extends 'index.html' %}
{% load static %}
{% block content %}

<div class="shopping-cart" style="margin:50px">

  <div class="column-labels">
    <label class="product-image">Image</label>
    <label class="product-details">Product</label>
    <label class="product-price">Price</label>
    <label class="product-quantity">Quantity</label>
    <label class="product-removal">Remove</label>
    <label class="product-line-price">Total</label>
  </div>
  
  {% for product in products %}
  <div class="product">
    <div class="product-image">
      <img src="{% static product.image %}">
    </div>
    <div class="product-details">
      <div class="product-title">{{product.name}}</div>
      <p class="product-description">{{product.description}}</p>
    </div>
    <div class="product-price">{{product.price}}</div>
    <div class="product-quantity">
      {{product.amount}}
    </div>
    <div class="product-removal">
      <a class="btn btn-sm btn-danger" href="/accounts/{{product.id}}/remove-from-cart/">
        Remove
      </a>
    </div>
    <div class="product-line-price">{{ product.total }}</div>
  </div>
  {% endfor %}

  <div class="totals">
    <div class="totals-item">
      <label>Subtotal</label>
      <div class="totals-value" id="cart-subtotal">{{price}}</div>
    </div>
    <div class="totals-item">
      <label>Tax (5%)</label>
      <div class="totals-value" id="cart-tax">{{tax}}</div>
    </div>
    <div class="totals-item">
      <label>Shipping</label>
      <div class="totals-value" id="cart-shipping">{{shipping}}</div>
    </div>
    <div class="totals-item totals-item-total">
      <label>Grand Total</label>
      <div class="totals-value" id="cart-total">{{g_total}}</div>
    </div>
  </div>
      
      <button class="checkout">Checkout</button>
</div>
{% endblock %}
